#main_container{
  margin: 0;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 40px;
  
}
nav ul img{
  width: 233px;
  height: 36.67px;
  top: 3.67px;
}
#top-button{
  background-color: #A02279;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
#top{
  display: flex;
  padding: 50px;

}
#search_bar{
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
  width: 50%;
  text-align: left;
  font-family: 'Red Rose';
  margin: 50px;
  font-size: 20px;
}
div h1 span{
  color: #A02279;
  font-family: 'Red Rose';
}
div p{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
div input{
  padding: 8px;
  border-right: none;
  border-style: none;
  width: 50%;
  border: 1px solid black;
  border-radius: 8px 0px 0px 8px;
}
#search_button{
 color: white;
 background-color: #A02279;
 border-radius: 0px 8px 8px 0px;
 padding: 9px;
 text-decoration: none;
 border-style: none;
 font-family: 'Red Rose';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 text-align: center;
}
#links{
  display: flex;
  justify-content: space-between;
  background-color: #A02279;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

}
#logo{
  width: 114.14px;
  height: 40.56px;
}
#middle_head{
  text-align: center;
  
font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 60px;
color: #000000;
}
#first-line{
  display: flex;


}
#nfts{
  padding-left: 30px;
  width: 95%;
  height: 95%;
}
#top-container{
  display: flex;
  background-color: #A02279;
  width: 100%;

}
#text_container{
  text-align: left;
  padding: 100px;
  font-family: 'Red Rose';
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  color: white;
  

  
  
}
#img_container{
  padding: 50px;
  width: 60%;
  height: 70%;
}
#button{
  text-decoration: none;
  background-color: white;
  color: #A02279;
  border: 1px solid #A02279;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Red Rose';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
   text-align: center;
}
#bottom-container{
  display: flex;
  padding: 20px;
  background-color: black;
}
#logos{
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  padding-top: 20px;
  padding-left: 100px;
  height: 200px;
  width: 200px;
}
#socials{
  padding-top: 50px;
  
}
#addition{
  display: flex;
}
#list
{
  flex-direction: column;
  color: white;
  list-style: none;
  height: 269px;
  width: 101px;
  text-align: left;
  padding-right: 10px;
}